.image-editor {
    overflow: hidden;
    flex-grow: 0;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: -webkit-grab;
}

.image-editor:before {
    content: '';
    display: block;
    padding-top: 150%;
}

.crop-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.crop-border img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.grid {
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.horizontal-grid {
    height: 100%;
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
}

.vertical-grid {
    position: absolute;
    left: 33%;
    top: 0;
    width: 100%;
    height: 100%;
    border-left: 1px dotted white;
    border-right: 1px dotted white;
}

.mouse-down {
    cursor: -webkit-grabbing;
}